/vendor/
.phpunit.result.cache
composer.lock 
.env
config.php
connection.php
database_credentials.php
*.sql
*.sqlite

node_modules/
.npm/
dist/
.parcel-cache/
.eslintcache

*.log
logs/
cache/
tmp/

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
